name: Pre submits cli
on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:
  # Used in combination with schedule.cli.yml
  # to avoid duplicating the test code.
  schedule:
    - cron: "25 6 * * 5"

permissions: read-all

jobs:
  pre-submit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0

      - name: setup-go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4.0.0
        with:
          go-version: "1.18"

      - name: Save event name
        env:
          EVENT_NAME: ${{ github.event_name }}
        run: |
          echo "$EVENT_NAME" > ./event_name.txt

      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: event_name
          path: ./event_name.txt

      - name: Run tests for verifier
        # NOTE: SLSA_VERIFIER_TESTING is not needed or desired for regression
        #       tests because they run on test data generated by full releases.
        run: |
          set -euo pipefail
          make regression-test
